hr {
    height: 3px;
    background-color: #B0B2A1;
    border: none;
}

a.btn.btn-primary {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 30px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.cabecalho-exp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.logotipo-lateral {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 100%; 
    max-width: 100%; 
}

.card-img-top {
    width: 300px;
    height: auto;
    border-radius: 30px;
}

.card-body {
    text-align: center;
}

.card.card-pesquisa {
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    margin: 10px;
    box-sizing: border-box;
}

.btn {
    border-radius: 30px;
}

.card-pesquisa:hover {
    transform: scale(1.05);
}

.barra-pesquisa, .form-select-lg {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.pesquisa-container {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.barra-pesquisa {
    flex-grow: 1;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    color: white;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.barra-pesquisa:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

h5 {
    color: white;
}

.btn:hover {
    background-color: grey;
}

.logotipo-lateral h1 a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s;
}

.logotipo-lateral h1 a:hover {
    color: #f0f0f0;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .cabecalho-exp {
        flex-direction: column;
        align-items: center;
    }

    .pesquisa-container {
        flex-direction: column;
        width: 100%;
    }

    .barra-pesquisa {
        margin-right: 0;
        margin-bottom: 10px;
        width: 90%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .logotipo-lateral h1 a {
        font-size: 1.5rem;
    }

    .card-container .card-pesquisa {
        width: 90%;
    }

    .button {
        width: 90%;
        padding: 10px 0;
    }
}
