.carousel {
  max-height: 700px; /* Define a altura máxima do carrossel */
  overflow: hidden; /* Garante que o conteúdo que exceder a altura seja escondido */
}

.carousel img {
  height: 100%; /* Assegura que a imagem ocupe toda a altura do contêiner */
  object-fit: cover;
  object-fit: contain; /* Ajusta o conteúdo da imagem para não distorcer */
}

/* Estilo do ícone de navegação anterior */
.card-series::before {
  content: '\2039'; /* Código Unicode para a seta para a esquerda */
  font-size: 30px;
  color: black;
}

/* Estilo do ícone de navegação seguinte */
.carousel-control-next-icon::before {
  content: '\203A'; /* Código Unicode para a seta para a direita */
  font-size: 30px;
  color: black;
}

/* Estilo dos indicadores (botões de navegação dos slides) */
.carousel-indicators [data-bs-target] {
  background-color: grey !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

/* Estilo do indicador ativo */
.carousel-indicators .active {
  background-color: black !important;
}

.novas-series .card.h-100 {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  height: 450px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  border: 0px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.minhas-series .card.h-100 {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  height: 450px !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  border: 0px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.series-cards .card.h-100 {
  border-radius: 30px;
  border: 0px;
}

.minhas-series .card.h-100:hover,
.card-pesquisa .card.h-100:hover {
  transform: scale(1.05);
}

.caixa-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px;
}

.sobre-texto {
  flex: 0 0 65%;
  padding: 10px;
}

.aluna-detalhes {
  flex: 0 0 30%;
  text-align: left;
  position: relative;
}

.foto-aluna {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 30%;
}

.redes-sociais {
  margin-top: 15px;
}

.redes-sociais a {
  margin-right: 10px;
}

.redes-sociais a:last-child {
  margin-right: 0;
}

.redes-sociais img {
  width: 30px;
  height: 30px;
}

h5 {
  color: white;
}


.novas-series {
  border-radius: 30px;
  overflow: hidden;
  max-height: 600px;
}
.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-title,
.card-text {
  margin: 0;
  padding: 0;
}

/* Estilos gerais */
.caixa-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px;
  flex-wrap: wrap; /* Adiciona flex-wrap para permitir que os itens se reorganizem em telas pequenas */
}

.sobre-texto {
  flex: 0 0 65%;
  padding: 10px;
}

.aluna-detalhes {
  flex: 0 0 30%;
  text-align: left;
  position: relative;
}

#card {

  border-radius: 40px;
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
  .sobre-texto {
      flex: 0 0 100%; /* O texto ocupa 100% da largura em telas menores */
      margin-bottom: 20px; /* Espaçamento inferior para separar da seção aluna-detalhes */
  }

  .aluna-detalhes {
      flex: 0 0 100%; /* A seção aluna-detalhes ocupa 100% da largura em telas menores */
      text-align: center; /* Centralizar conteúdo no mobile */
  }

  .foto-aluna {
      width: 120px; /* Reduz o tamanho da imagem da aluna em telas menores */
  }
}
