.carousel {
  overflow: hidden; 
}

#carouselExampleCaptions {
  max-width: 1800px; 
  height: 800px; 
  margin: 0 auto;  
  border-radius: 30px; 
}

.btn-primary {
  display: inline-block;
  padding: 20px 30px;
  background-color: #D1D4B9;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

img.d-blok.w-100 {
  width: 100%; 
  height: 100%;  
}

#carouselExampleCaptions .carousel-inner {
  height: 100%; 
}

#carouselExampleCaptions .carousel-inner img {
  width: 100%; 
  height: 100%;     
  object-fit: cover; 
}

.carousel img {
  height: 100%; 
  object-fit: cover;
  object-fit: contain; 
}

.carousel-indicators [data-bs-target] {
  background-color: grey !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

.carousel-indicators .active {
  background-color: black !important;
}

.minhas-series .card.h-100 {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  height: 450px !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  border: 0px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.series-cards .card.h-100, .novas-series .card-h-100 {
  border-radius: 30px;
  border: 0px;
}

.minhas-series .card.h-100:hover,
.card-pesquisa .card.h-100:hover, 
.novas-series .card-h-100:hover {
  transform: scale(1.05);
}

.caixa-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px;
}

.sobre-texto {
  flex: 0 0 65%;
  padding: 10px;
}

.aluna-detalhes {
  flex: 0 0 30%;
  text-align: left;
  position: relative;
}

.foto-aluna {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 30%;
}

.redes-sociais {
  margin-top: 15px;
}

.redes-sociais a {
  margin-right: 10px;
}

.redes-sociais a:last-child {
  margin-right: 0;
}

.redes-sociais img {
  width: 30px;
  height: 30px;
}

h5 {
  color: white;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay, .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay, .card:hover .card-body{
  opacity: 1;
}

.card-title,
.card-text {
  margin: 0;
  padding: 0;
}

.caixa-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px;
  flex-wrap: wrap; 
}

.sobre-texto {
  flex: 0 0 65%;
  padding: 10px;
}

.aluna-detalhes {
  flex: 0 0 30%;
  text-align: left;
  position: relative;
}

#card {

  border-radius: 40px;
}


h5.card-title {
  color: #d9d9d9;
}


.novas-series .h-100 {
  height: 500px !important;
  
}
.novas-series .card.h-100 {
  width: 600px;
  margin: 0;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  border: 0px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}